@font-face {
    font-family: "JetBrains";
    src: url(./src/JetBrainsMono-Medium.ttf);
}

:root {
    --background: #1C1B19;
    --background2: #1C1B19;
    --background3: #1C1B19;
    --text-color: #FCE8C3;
    --text-color2: #BAA67F;
    --border-color: #BAA67F;
}

* {
    padding: 0;
    text-decoration: none;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "JetBrains";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
    background-color: var(--background2);
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    border-radius: 25px;
    border: 1px solid #;
    background-image: url(./src/images/SEELE.svg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 512px;
    height: 800px;
    background-color: var(--background3);
    border: 1px solid var(--border-color);
    margin-right: 350px;
    border-radius: 25px;
    text-align: center;
}
.right {
    width: 512px;
    height: 800px;
    background-color: var(--background3);
    border: 1px solid var(--border-color);
    margin-left: 350px;
    border-radius: 25px;
    text-align: center;
}

nav {
    font-size: 35px;
    margin-top: 150px;
}

ul {
    margin: 50px;
    width: 100%;
    height: 100%;
    margin: var(--margin-var);
    text-align: center;
    padding: var(--padding-var);
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 200ms;
}

a:hover {
    color: #fbf1c7;
}

p {
    color: var(--text-color2);
    font-size: 42px;
}
