@font-face {
    font-family: "JetBrains";
    src: url(./src/JetBrains.ttf);
}

* {
    padding: 0;
    text-decoration: none;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "JetBrains";
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

:root {
    --bg-color: #121212;
    --bg-color2: #1b1b1b;
    --text-color: #00a2ff;
    --border-color: #5e5e5e;
}
  
html, body {
    height: 100%;
}

body {
    padding: 15px;
    background-color: #000000;
}

.mainbox {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;

    .leftbox {
        width: 20%;
        height: 100%;
        background-color: var(--bg-color);
        border-radius: 27px;
        border: 2px solid var(--border-color);
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 27px;
            transition: 350ms all;
        }
        img:hover {
            transform: scale(1.06);
        }
        img:active {
            transform: scale(1);
        }
    }

    .rightbox {
        width: 80%;
        height: 100%;
        background-color: var(--bg-color);
        border-radius: 27px;
        margin: 0 10px 0 0;
        display: grid;
        grid-template-rows: 44% 16% 40%;
        border: 2px solid var(--border-color);

        .baslik {
            color: #ffffff;
            font-size: 42px;
        }

        p {
            color: #ffffff;
            font-size: 30px;
            text-align: center;
            margin-bottom: 15px;
        }
    
        li {
            font-size: 19px;
            text-align: center;
            margin-bottom: 15px;
        }
    
        li:first-child {
            color: #ffffff;
        }
    
        a {
            color: var(--text-color);
            text-decoration: none;
            transition: 100ms all;
        }
    
        a:hover {
            color: var(--border-color);
            font-style: oblique;
        }

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            /*border: blueviolet 2px solid;*/

            input {
                width: 85%;
                height: 50%;
                background-color: var(--bg-color2);
                border-radius: 27px;
                border: 2px solid var(--border-color);
                font-size: 1.5rem;
                padding: 7px;
                color: var(--text-color);
                text-align: center;
                text-decoration: none;
                transition: 200ms all;
            }
            input::placeholder {
                color: var(--text-color);
            }
        
            input:hover {
                transform: scale(1.02);
            }
        
            input:active {
                transform: scale(0.98);
            }
        
            input:focus {
                width: 85%;
                /*box-shadow: 0 0 0 2px #2885cc;*/
                box-sizing: border-box;
                outline: none;
            }

            .suggestions {
                position: absolute;
                top: 53%;
                color: #fff;
                border: var(--border-color) solid 2px;
                background-color: #121212;
                border-radius: 17px;
                z-index: 1000;
            }
            .suggestion-item {
                padding: 10px;
                cursor: pointer;
            }
            .suggestion-item:hover {
                background-color: var(--border-color);
            }

            nav {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--bg-color2);
                border: 2px solid var(--border-color);
                color: #fff;
                margin: 15px;
                padding: 10px;
                height: 280px;
                width: 290px;
                border-radius: 17px;
                grid-row-gap: 1em;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: max-content;
                transition: 150ms all;
            }

            nav:hover {
                transform: scale(1.05);
            }
        }
    }
}

aside {
    width: 100%;
    height: 8%;
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    border-radius: 27px;
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
    img {
        margin: 0 0 0 10px;
        border-radius: 27px;
        width: 50px;
        height: 50px;
    }
}

